/* Contenedor del Header */
.modal-toolbar {
  --background: linear-gradient(135deg, #6a1b9a 0%, #4a148c 100%);
  --color: white;
  border-bottom: none;
}

ion-title {
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* Contenido del Modal */
ion-content {
  --background: #f8f4ff; /* Un blanco con un toque de lila muy suave */
}

/* Estilo de los Items (Campos de entrada) */
ion-item {
  --background: white;
  --border-radius: 12px;
  --padding-start: 16px;
  --inner-padding-end: 16px;
  margin-bottom: 16px;
  box-shadow: 0 4px 10px rgba(106, 27, 154, 0.05);
  border: 1px solid rgba(106, 27, 154, 0.1);
  
  /* Quitamos la línea de abajo por defecto de Ionic */
  --inner-border-width: 0;
}

ion-label {
  color: #6a1b9a !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  margin-bottom: 8px !important;
}

ion-input, ion-select {
  --padding-top: 10px;
  --padding-bottom: 10px;
  font-size: 16px;
  color: #311b92;
}

/* Botón de Guardar */
.btn-guardar {
  --border-radius: 12px;
  --background: linear-gradient(135deg, #7b1fa2 0%, #4a148c 100%);
  --background-activated: #311b92;
  --box-shadow: 0 8px 15px rgba(74, 20, 140, 0.3);
  height: 52px;
  font-weight: 700;
  font-size: 16px;
  margin-top: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Botón Deshabilitado */
.btn-guardar[disabled] {
  opacity: 0.5;
}

/* Ajuste para el Select */
ion-select {
  width: 100%;
  justify-content: space-between;
}