

<ion-content class="menu-content" [fullscreen]="true">

  <div class="menu-header">
  <img class="logomenu" src="assets/icon/logonuevo.png" />
  <div class="version-container">
    <span class="version-text">V 1.07</span>
    <ion-icon 
      *ngIf="isAdmin()" 
      name="map-outline" 
      class="map-icon" 
      (click)="goToSeguimiento()">
    </ion-icon>
  </div>
</div>
  
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="content ion-text-center">
  
  
<ion-button expand="full" class="image-button" (click)="goToObras()">
      <img src="assets/botones/ordenes.png" alt="Guardias" />
    </ion-button>

    <ion-button expand="full" class="image-button" (click)="goToreportes()" *ngIf="isAdmin()">
  <img src="assets/botones/reportes.png" alt="Reportes" />
</ion-button>

    <ion-button expand="full" class="image-button" (click)="goToReclamos()" *ngIf="isAdmin()">
      <img src="assets/botones/reclamos.png" alt="Reclamos" />
    </ion-button>

    

    <ion-button expand="full" class="image-button" (click)="goToCheck()" *ngIf="isAdmin()">
      <img src="assets/botones/check.png" alt="Guardias" />
    </ion-button>

   <ion-button expand="full" class="image-button" (click)="goToInsumos()" *ngIf="isAdmin()">
      <img src="assets/botones/insumos.png" alt="insumos" />
    </ion-button>

  
   
    
   </div>
</ion-content>