<ion-header>
  <ion-toolbar>
    <ion-title>Ingrese su contraseña</ion-title>
    <ion-buttons slot="end">
      <!-- Puedes dejar esto vacío si no necesitas un botón para cerrar el modal en el encabezado -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-content">
  <div class="modal-container">
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <div class="button-group">
      <ion-button expand="full" (click)="confirm()" color="primary">Confirmar</ion-button>
      <ion-button expand="full" (click)="dismiss()" color="danger">Cerrar</ion-button>
    </div>
  </div>
</ion-content>
