ion-content.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0; /* Elimina el padding para que el contenido esté alineado correctamente */
  }
  
  .modal-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  top: 170px;

  }
  
  ion-item {
    width: 100%;
  }
  
  .button-group {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
    margin-top: 20px;
    width: 100%;
  }
  
  ion-button {
    flex: 1; /* Hace que los botones ocupen el mismo espacio */
  }
  
  ion-button[color="primary"] {
    --background: #3880ff; /* Color de fondo para el botón Confirmar */
    --color: white; /* Color del texto del botón Confirmar */
  }
  
  ion-button[color="danger"] {
    --background: #f53d3d; /* Color de fondo para el botón Cerrar */
    --color: white; /* Color del texto del botón Cerrar */
  }
  